In [1]:
import os

import dotenv
import pandas as pd
import sqlalchemy

dotenv.load_dotenv(dotenv_path="credenziali.env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(connection_string)

db_engine = sqlalchemy.create_engine(connection_string)

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [2]:
query = "SELECT * FROM dimproduct"

df = pd.read_sql(query, db_engine)
df.head()

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [7]:
#Quanti dati ci sono in totale?

df.shape

(606, 36)

In [8]:
#Quali sono i metadati?

df.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [9]:
#Stampiamo il primo elemento

df.head(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [10]:
#Stampiamo l'ultimo elemento → .tail(1)

df.tail(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [11]:
#Cinque elementi a caso?

df.sample(5)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
572,573,BK-T79U-46,3.0,LB,CM,"Touring-1000 Blue, 46","Paseo: 1000, azul, 46","Vélo de randonnée 1000 bleu, 46",1481.94,1,...,享受时尚舒适的旅行。专门设计，最大程度地确保舒适和安全。速度可调，轻松翻越所有类型的山坡。采...,الاستمتاع بالمظهر الأنيق والراحة عند السفر. لق...,רכיבה מסוגננת ונוחה. עיצוב המיועד למרב הנוחות ...,เดินทางอย่างมาดมั่นและสะดวกสบาย ได้รับการออกแ...,Fahren Sie mit Stil und Komfort. Design für ma...,スタイルと乗り心地を同時に実現。最大限の快適性と安全性を目標に設計され、ワイドなギア レンジ...,"""Tarz ve konforlu yolculuk. Maksimum konfor ve...",2013-07-01,NaT,Current
83,84,LE-1201,NaN,None,None,External Lock Washer 9,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
166,167,MS-6061,NaN,None,None,Metal Sheet 1,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
267,268,FR-R38R-58,14.0,LB,CM,"LL Road Frame - Red, 58","Cuadro de carretera GB: rojo, 58","Cadre de vélo de route LL - rouge, 58",181.49,1,...,LL 车架提供了安全舒适的骑乘，经济实惠的铝制车架提供了卓越的避震功能。,يوفر الهيكل LL Frame قيادة آمنة ومريحة، مع توف...,"מסגרת ה- LL מספקת רכיבה בטוחה ונוחה ועם זאת, מ...",เฟรม LL ให้ความปลอดภัยและสบายขณะขับขี่ พร้อมทั...,Mit dem LL-Rahmen fahren Sie sicher und komfor...,LL フレームは、安全で快適に乗ることができ、値打ち価格のアルミニウム フレームで優れた衝撃...,"""LL Kadro güvenli ve konforlu sürüş sunar, değ...",2011-07-01,2007-12-28,None
470,471,VE-C304-S,25.0,None,None,"Classic Vest, S","Camiseta clásica, P","Veste classique, taille S",23.75,1,...,轻型抗风，可折叠放入口袋。,علب خفيفة الوزن، ومقاومة للريح، تناسب حجم الجيب.,"קל-משקל, מגן מרוח, מתקפל לגודל המתאים לכיס.",น้ำหนักเบา กันลม ขนาดกะทัดรัดพอดีกระเป๋า,"""Leicht, windabweisend, passt in kleine Tasche.""",ポケットに収まる軽量耐風性パック。,"""Hafif, rüzgar geçirmez, katlandığında cebe sı...",2013-07-01,NaT,Current

In [12]:
#Quali sono i colori disponibili? 

df['Color'].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [32]:
#Media del peso dei prodotti
#Peso minimo
#Peso massimo
#Quanti prodotti pesano più di 100?


media_peso = df['Weight'].mean().round()
peso_min = df['Weight'].min()
peso_max = df['Weight'].max()
mag = (df['Weight'] > 100)

print(f'Media peso prodotti: {media_peso}, peso min: {peso_min}, peso max: {peso_max}, i prodotti più pesanti di 100 sono: {mag.sum()}')

Media peso prodotti: 56.0, peso min: 2.12, peso max: 1050.0, prodotti più pesanti di 100: 28

In [43]:
#Quanto costano in media i prodotti (colonna DealerPrice)?

media = df['DealerPrice'].mean().round(2)

print(f'Costano in media: {media}')

Costano in media: 448.6

In [44]:
#Quali sono i quartili dei prezzi?

df['DealerPrice'].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [62]:
#Prezzo medio per prodotti di colore blu?

filtro_col = df['Color'] == 'Blue'
prodotti_blu = df[filtro_col]
print(f'Prezzo medio prodotti blu: {prodotti_blu['DealerPrice'].mean().round(2)}')

Prezzo medio prodotti blu: 516.06

In [66]:
#Prezzo medio per prodotti di colore rosso o nero?

filtro_rosso = df['Color'] == 'Red'
filtro_nero = df['Color'] == 'Black'
prodotti = df[filtro_rosso | filtro_nero]
print(f'Prezzo medio prodotti blu: {prodotti['DealerPrice'].mean().round(2)}')

Prezzo medio prodotti blu: 550.25

In [74]:
#Prezzo massimo per prodotti di taglia 42 e peso oltre i 10 Kg?

taglia = df['Size'] == 42
peso = df['Weight'] > 10
prodotti = df[taglia & peso]

print(f'Prezzo massimo dei prodotti è: {prodotti['DealerPrice'].max()}')

Prezzo massimo dei prodotti è: nan

In [81]:
#Nome inglese e StandardCost di tutti i prodotti di taglia 42, peso oltre 10 Kg e colore argento?

colore = df['Color'] == 'Silver'
size = df['Size'] == 42
peso = df['Weight'] > 10

prodotti = df[colore & size & peso]

print(prodotti[['EnglishProductName', 'StandardCost']])

Empty DataFrame
Columns: [EnglishProductName, StandardCost]
Index: []

In [84]:
#Visualizzare StandardCost e DealerPrice degli ultimi 20 elementi: c'è un pattern? Qualche elemento non lo segue?

ultimi = df.tail(20)

print(ultimi[['StandardCost', 'DealerPrice']])

#gli ultimi 3 prodotti hanno un dealerprice più basso dello standard cost, l'aziende vende quindi in perdita

     StandardCost  DealerPrice
586        419.78      461.694
587        419.78      461.694
588        419.78      461.694
589        419.78      461.694
590        308.22      338.994
591        308.22      338.994
592        308.22      338.994
593        308.22      338.994
594        308.22      338.994
595        294.58      323.994
596        294.58      323.994
597        294.58      323.994
598        294.58      323.994
599        294.58      323.994
600         23.97       32.394
601         44.95       60.744
602         53.94       72.894
603        343.65      323.994
604        343.65      323.994
605        343.65      323.994

In [85]:
#Esercizio Insurance

df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [87]:
df.shape

(1338, 7)

In [88]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [90]:
#Quali sono le medie di charges rispetto a region? Ci sono differenze significative?

df.groupby('region')['charges'].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [91]:
#E rispetto a smoker? E a sex?

df.groupby('smoker')['charges'].mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [92]:
df.groupby('sex')['charges'].mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [93]:
#Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

df['bmi'].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [95]:
def assegna_quartile(bmi):
    if bmi < 26.29:
        return 'Q1'
    elif bmi < 30.4:
        return 'Q2'
    elif bmi < 34.69:
        return 'Q3'
    else:
        return 'Q4'

df['bmi_quartile'] = df['bmi'].apply(assegna_quartile)

df.groupby('bmi_quartile')['charges'].agg(['min', 'mean', 'max'])

                    min          mean          max
bmi_quartile
Q1            1121.8739  10308.423118  38245.59327
Q2            1131.5066  11447.495047  62592.87309
Q3            1135.9407  14323.550842  60021.39897
Q4            1141.4451  16987.936691  63770.42801

In [97]:
df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Lezioni/dataset_es5/Mappa-dei-pub-circoli-locali-in-Italia.csv', encoding='latin1', sep=';')

df.head()

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,ALA DI STURA,CITTA' METROPOLITANA DI TORINO,Piemonte,NaN,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150

In [104]:
#Quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?

filtro_long_1 = df['Longitudine'] >= 9
filtro_long_2 = df['Longitudine'] <= 10

filtro_lat_1 = df['Latitudine'] >= 45
filtro_lat_2 = df['Latitudine'] <= 46

long_lat = df[filtro_long_1 & filtro_long_2 & filtro_lat_1 & filtro_lat_2]
long_lat.shape

(306, 9)

In [105]:
df.columns

Index(['Comune', 'Provincia', 'Regione', 'Nome', 'Anno inserimento',
       'Data e ora inserimento', 'Identificatore in OpenStreetMap',
       'Longitudine', 'Latitudine'],
      dtype='object')

In [113]:
#Quante attività ci sono nella provincia di Vicenza?

prov = df['Provincia'] == 'VICENZA'
attivita = df[prov]
attivita.shape

(73, 9)

In [127]:
#Quante attività ci sono in Lazio e Abruzzo assieme?

attivita_lazio = df['Regione'] == 'Lazio'
attivita_abruzzo = df['Regione'] == 'Abruzzo'

tot_attivita = df[attivita_lazio | attivita_abruzzo]
tot_attivita.shape

(337, 9)

In [128]:
#Esercizio 8

df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [130]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [131]:
#calcoliamo la media della lunghezza dei petali di tutto il dataset

df['petal_length'].mean()

np.float64(3.758666666666666)

In [134]:
#La media della lunghezza dei petali per ogni specie di Iris

df.groupby('species')['petal_length'].mean()

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [135]:
#Media, minimo e massimo della larghezza dei sepali per ogni specie

df.groupby('species')['sepal_width'].agg(['mean','min','max'])

                  mean  min  max
species
Iris-setosa      3.418  2.3  4.4
Iris-versicolor  2.770  2.0  3.4
Iris-virginica   2.974  2.2  3.8

In [2]:
#Esercizio 9
import pandas as pd

df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/wine.csv')

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
#Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale?

df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [4]:
df.groupby('quality')['alcohol'].mean()

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [5]:
df['alcohol'].mean()

np.float64(10.491800831149453)

In [6]:
#Qualità 5: 9.84% alcol
#Qualità 9: 12.18% alcol
#ci sono differenze significative. I vini di qualità alta hanno più alcol.

In [7]:
#C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi?

df.groupby('type')['alcohol'].mean()

type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

In [8]:
#Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa?

df.groupby('quality')['pH'].mean()

quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

In [9]:
df.groupby('type')['pH'].mean()

type
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [10]:
#E per i solfati?

df.groupby('type')['sulphates'].mean()

type
red      0.658149
white    0.489847
Name: sulphates, dtype: float64

In [11]:
df.groupby('quality')['sulphates'].mean()

quality
3    0.506333
4    0.505648
5    0.526403
6    0.532549
7    0.547025
8    0.512487
9    0.466000
Name: sulphates, dtype: float64

In [13]:
#Esercizio 10

df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/boston.csv')
df.shape

(506, 14)

In [14]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [15]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [16]:
#La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?

df.groupby('chas')['medv'].mean()

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [17]:
#Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?

df[['crim', 'medv']].corr()

          crim      medv
crim  1.000000 -0.388305
medv -0.388305  1.000000

In [22]:
#Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato?

df.groupby('ptratio')['rm'].mean()

ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64

In [20]:
df.groupby('ptratio')['medv'].mean()

ptratio
12.6    32.733333
13.0    38.025000
13.6    50.000000
14.4    50.000000
14.7    25.717647
14.8    25.433333
14.9    40.475000
15.1    31.600000
15.2    26.276923
15.3    26.066667
15.5    32.700000
15.6    30.100000
15.9    30.250000
16.0    24.320000
16.1    24.880000
16.4    23.216667
16.6    23.856250
16.8    22.150000
16.9    19.640000
17.0    30.600000
17.3    24.700000
17.4    33.544444
17.6    30.700000
17.8    26.956522
17.9    22.363636
18.0    33.100000
18.2    22.150000
18.3    27.100000
18.4    23.131250
18.5    23.800000
18.6    24.335294
18.7    25.122222
18.8    17.350000
18.9    20.100000
19.0    24.900000
19.1    22.894118
19.2    22.805263
19.6    22.575000
19.7    21.787500
20.1    12.800000
20.2    16.611429
20.9    21.118182
21.0    17.351852
21.1    18.900000
21.2    17.093333
22.0    19.400000
Name: medv, dtype: float64

In [23]:
#Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?

df.groupby('rad')['age'].mean()

rad
1     45.025000
2     64.770833
3     49.310526
4     60.841818
5     69.223478
6     60.142308
7     40.141176
8     67.350000
24    89.805303
Name: age, dtype: float64

In [24]:
df.groupby('rad')['rm'].mean()

rad
1     6.555850
2     6.649958
3     6.473026
4     6.133118
5     6.393157
6     6.104731
7     6.647765
8     6.950792
24    6.022152
Name: rm, dtype: float64

In [25]:
df.groupby('rad')['tax'].mean()

rad
1     291.450000
2     260.666667
3     246.078947
4     335.981818
5     331.843478
6     372.884615
7     304.411765
8     301.250000
24    666.000000
Name: tax, dtype: float64

In [27]:
#Esercizio 11

# DataFrame dipendenti
employees_df = pd.DataFrame({
    'employee_id': [101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'department_id': [1, 2, 1, 2, 3]
})

# DataFrame dipartimenti
departments_df = pd.DataFrame({
    'department_id': [1, 2, 3],
    'department_name': ['HR', 'IT', 'Finance'],
    'location': ['New York', 'San Francisco', 'Chicago']
})

print(employees_df)
print(departments_df)

   employee_id     name  department_id
0          101    Alice              1
1          102      Bob              2
2          103  Charlie              1
3          104    David              2
4          105     Emma              3
   department_id department_name       location
0              1              HR       New York
1              2              IT  San Francisco
2              3         Finance        Chicago

In [29]:
#Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione

merge_df = pd.merge(left=employees_df, right=departments_df, on='department_id')
merge_df

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [31]:
#Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join()

new_employees_df= employees_df.set_index('department_id')
new_employees_df

               employee_id     name
department_id
1                      101    Alice
2                      102      Bob
1                      103  Charlie
2                      104    David
3                      105     Emma

In [32]:
new_departments_df= departments_df.set_index('department_id')
new_departments_df

              department_name       location
department_id
1                          HR       New York
2                          IT  San Francisco
3                     Finance        Chicago

In [34]:
join = new_employees_df.join(new_departments_df)
join

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

In [36]:
merge_df

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [37]:
#Esercizio 12

#Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame

import os

import dotenv
import pandas as pd
import sqlalchemy

dotenv.load_dotenv(dotenv_path="credenziali.env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(connection_string)

db_engine = sqlalchemy.create_engine(connection_string)

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [38]:
query_1 = "SELECT * FROM dimemployee"
df_employee = pd.read_sql(query_1, db_engine)

query_2 = "SELECT * FROM dimemployeesalesterritory"
df_sales_territory = pd.read_sql(query_2, db_engine)

In [39]:
df_employee.shape

(296, 28)

In [40]:
df_sales_territory.shape

(39, 2)

In [42]:
df_employee.columns

Index(['EmployeeKey', 'ParentEmployeeKey', 'EmployeeNationalIDAlternateKey',
       'ParentEmployeeNationalIDAlternateKey', 'FirstName', 'LastName',
       'MiddleName', 'NameStyle', 'Title', 'HireDate', 'BirthDate', 'LoginID',
       'EmailAddress', 'Phone', 'MaritalStatus', 'EmergencyContactName',
       'EmergencyContactPhone', 'SalariedFlag', 'Gender', 'PayFrequency',
       'BaseRate', 'VacationHours', 'SickLeaveHours', 'CurrentFlag',
       'SalesPersonFlag', 'DepartmentName', 'EmployeePhoto', 'Position'],
      dtype='object')

In [43]:
df_sales_territory.columns

Index(['EmployeeKey', 'SalesTerritoryKey'], dtype='object')

In [44]:
df_sales_territory.head()

   EmployeeKey  SalesTerritoryKey
0          272                  1
1          277                  1
2          286                  1
3          289                  1
4          293                  1

In [46]:
df_employee.head()

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None

In [49]:
df_merge = pd.merge(left=df_employee, right=df_sales_territory, on='EmployeeKey')
df_merge

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,2,48.1010,14,27,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,2,72.1154,10,25,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,2,23.0769,38,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,2,23.0769,27,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,2,23.0769,24,32,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,2,23.0769,33,36,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,2,23.0769,29,34,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,2,23.0769,22,31,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,2,23.0769,26,33,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4
27,288,272.0,399771412,502097814.0,José,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,2,23.0769,31,35,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,2,23.0769,23,31,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,2,48.1010,21,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,2,23.0769,37,38,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9

In [51]:
#Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey

query_1 = "SELECT * FROM dimsalesterritory"
df_dimsalesterritory = pd.read_sql(query_1, db_engine)
df_dimsalesterritory.head()

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

In [52]:
df_merge_terr = pd.merge(left=df_merge, right=df_dimsalesterritory, on='SalesTerritoryKey')
df_merge_terr

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
27,288,272.0,399771412,502097814.0,José,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

In [53]:
#Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)

df_merge_terr.groupby('SalesTerritoryCountry')['EmployeeKey'].count()

SalesTerritoryCountry
Australia          3
Canada             4
France             4
Germany            3
United Kingdom     3
United States     22
Name: EmployeeKey, dtype: int64

In [54]:
df_merge_terr.groupby('SalesTerritoryRegion')['EmployeeKey'].count()

SalesTerritoryRegion
Australia         3
Canada            4
Central           5
France            4
Germany           3
Northeast         3
Northwest         5
Southeast         4
Southwest         5
United Kingdom    3
Name: EmployeeKey, dtype: int64

In [55]:
#Valutiamo la media del BaseRate per ogni paese: ci sono differenze?

df_merge_terr.groupby('SalesTerritoryCountry')['BaseRate'].mean()

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64