In [2]:
mat = [[ 0, 1, 2, 3, 4],
       [ 5, 6, 7, 8, 9],
       [10, 11, 12, 13, 14]]
mat[1][2]

7

In [6]:
import math

math.sin(math.pi/2)

1.0

In [7]:
math.factorial(5)

120

In [8]:
math.degrees(math.pi)

180.0

In [12]:
import pandas as pd

vendite = pd.Series([2000, 5500, 7200, 4320, 1280, 1900,
           2500, 3900, 6410, 8150, 7100, 5350])
print(vendite)

0     2000
1     5500
2     7200
3     4320
4     1280
5     1900
6     2500
7     3900
8     6410
9     8150
10    7100
11    5350
dtype: int64

In [17]:
#Qual è stata la vendita massima mensile? E quella minima?

vendite_max = vendite.max()
vendite_min = vendite.min()
print(vendite_max, vendite_min)

8150 1280

In [23]:
#Quali sono le vendite maggiori di 5000? E quante sono?

filtro = vendite > 5000
vendite_filtrate = vendite[filtro].count()
vendite_filtrate

np.int64(6)

In [25]:
#Quali sono le vendite minori di 3000?

filtro_2 = vendite < 3000
vendite_minori = vendite[filtro_2]
vendite_minori

0    2000
4    1280
5    1900
6    2500
dtype: int64

In [28]:
#In media quanti oggetti venduti al mese?

vendite.mean()

np.float64(4634.166666666667)

In [37]:
#raddoppiare gli stipendi

import pandas as pd
stipendi = pd.Series([100, 200, 300, 400, 500,
                      600, 700, 800, 900, 1000])
stipendi_raddoppiati = []
for stipendio in stipendi:
    stipendi_raddoppiati.append(stipendio * 2)
print(stipendi_raddoppiati)

[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [39]:
import pandas as pd
stipendi = pd.Series([100, 200, 300, 400, 500,
                      600, 700, 800, 900, 1000])
stipendi_raddoppiati = stipendi * 2
stipendi_raddoppiati

0     200
1     400
2     600
3     800
4    1000
5    1200
6    1400
7    1600
8    1800
9    2000
dtype: int64

In [41]:
#Data una lista di numeri, restituire i tre più grandi
#Gestire il caso in cui la lista sia più corta di tre elementi
#Gestire numeri duplicati

numeri = [45, 23, 67, 12, 89, 34, 89, 56]

numeri.sort()
numeri

[12, 23, 34, 45, 56, 67, 89, 89]

In [44]:
ultimi_tre = numeri[-3:]
ultimi_tre

[67, 89, 89]

In [48]:
lista_duplicati = [10, 20, 20, 30]
lista_duplicati.sort()

top3 = lista_duplicati[-3:]
top3

[20, 20, 30]

In [67]:
#Input: una lista di numeri + un numero K
#Output: la media dei numeri nella lista che sono >= K
#Se non ce ne sono, stampare un messaggio appropriato

numeri = [10, 25, 30, 5, 40, 15]
k = 20

numeri_filtrati = []

for numero in numeri:
    if numero >= k:
        numeri_filtrati.append(numero)
print(numeri_filtrati)

[25, 30, 40]

In [68]:
import pandas as pd

numeri_filtrati = pd.Series(numeri_filtrati)
numeri_filtrati.mean()

np.float64(31.666666666666668)

In [69]:
if len(numeri_filtrati) == 0:
    print("Nessun numero maggiore o uguale a K")
else:
    numeri_filtrati_series = pd.Series(numeri_filtrati)
    print(f"La media è: {numeri_filtrati_series.mean()}")

La media è: 31.666666666666668

In [71]:
#Data una lista di numeri, stampare tante righe quanti sono i numeri, e per ogni riga stampare tanti asterischi quanto vale quel numero

numeri = [5, 2, 3, 4]

for numero in numeri:
    print(numero * '*')

*****
**
***
****

In [75]:
#Trovare i codici fiscali che contengono "95"
#Metterli in una lista
#Stamparla
#Per ognuno di essi, stampare i caratteri del cognome (primi 3) e del nome (caratteri 4-6)

lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", 
            "MNOPQR89S03A456D", "STUVWX95Z04A654E", 
            "XYZABC01D05A789F", "DEFGHI95J06A987G"]
cf_95 = []

for cf in lista_cf:
    if "95" in cf:
        cf_95.append(cf)
print(cf_95)

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

In [78]:
for cf in cf_95:
    cognome = cf[:3]
    nome = cf[3:6]
    print(cognome, nome)

ABC DEF
STU VWX
DEF GHI

In [83]:
#Stampare tutti e soli gli studenti che frequentano una prima edizione

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", 
            "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", 
         "Data Analyst", "Backend", "Frontend", "Cybersecurity"]
edizioni = [1, 2, 3, 2, 2, 1, 3, 3]


for i in range(len(studenti)):
    if edizioni[i] == 1:
        print(studenti[i])

Alex
Faith

In [85]:
#Cambiare simbolo € in $

prezzi = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]

prezzi_dollari = []

for prezzo in prezzi:
    new_prezzo = prezzo.replace('€', '$')
    prezzi_dollari.append(new_prezzo)
print(prezzi_dollari)

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [96]:
#Dividere studenti in due squadre

studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", 
            "Grace", "Henry", "Isabelle", "John"]

squadra_1 = studenti[::2]   
squadra_2 = studenti[1::2]  

print("Squadra 1:", squadra_1)
print("Squadra 2:", squadra_2)

Squadra 1: ['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']
Squadra 2: ['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [97]:
#Confronto guadagni con media precedenti

guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]

for i in range(len(guadagni)):
    if i == 0:
        print(f"Mese 1: {guadagni[0]} €")
    else:
        media_prec = sum(guadagni[0:i]) / i
        guadagno_attuale = guadagni[i]
        
        if guadagno_attuale > media_prec:
            confronto = "il guadagno attuale è maggiore"
        else:
            confronto = "il guadagno attuale è minore"
        
        print(f"Mese {i+1}: {guadagno_attuale} € (media prec: {media_prec:.2f} € - {confronto})")

Mese 1: 100 €
Mese 2: 90 € (media prec: 100.00 € - il guadagno attuale è minore)
Mese 3: 70 € (media prec: 95.00 € - il guadagno attuale è minore)
Mese 4: 40 € (media prec: 86.67 € - il guadagno attuale è minore)
Mese 5: 50 € (media prec: 75.00 € - il guadagno attuale è minore)
Mese 6: 80 € (media prec: 70.00 € - il guadagno attuale è maggiore)
Mese 7: 90 € (media prec: 71.67 € - il guadagno attuale è maggiore)
Mese 8: 120 € (media prec: 74.29 € - il guadagno attuale è maggiore)
Mese 9: 80 € (media prec: 80.00 € - il guadagno attuale è minore)
Mese 10: 20 € (media prec: 80.00 € - il guadagno attuale è minore)
Mese 11: 50 € (media prec: 74.00 € - il guadagno attuale è minore)
Mese 12: 50 € (media prec: 71.82 € - il guadagno attuale è minore)