In [1]:
import os

import dotenv
import pandas as pd
import sqlalchemy

dotenv.load_dotenv(dotenv_path="credenziali.env", override=True)

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(connection_string)

db_engine = sqlalchemy.create_engine(connection_string)

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorksDW

In [6]:
import pandas as pd

query = 'SELECT * FROM dimproduct'
df = pd.read_sql(query, db_engine)
df

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [8]:
#Sulla colonna DealerPrice, arrotondiamo i valori alle due cifre decimali, e poi al valore intero più vicino

df.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [11]:
df['DealerPrice'].round(2)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: DealerPrice, dtype: float64

In [13]:
df['DealerPrice'].round()

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     61.0
602     73.0
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [19]:
#"Utilizzando il metodo `.clip()`, facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000"

df['DealerPrice'].clip(upper=1000, lower=0)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64

In [25]:
import numpy as np
import pandas as pd

years = 5
guadagni = pd.DataFrame({
    "Mese": list("GFMAMGLASOND"*years),
    "Anno": np.repeat(list(range(years)), 12),
    "Valore": np.random.randint(800, 5000, 12*years)
})

guadagni.shape

(60, 3)

In [26]:
guadagni.columns

Index(['Mese', 'Anno', 'Valore'], dtype='object')

In [28]:
#Calcola la somma cumulativa dei guadagni utilizzando il metodo .cumsum()

guadagni['Valore'].cumsum()

0       3505
1       8017
2      10733
3      15228
4      17313
5      19996
6      24138
7      27522
8      28465
9      31203
10     33174
11     36828
12     37938
13     40204
14     42040
15     44392
16     47088
17     50830
18     52700
19     54667
20     58760
21     63311
22     66975
23     70120
24     74943
25     78018
26     81072
27     85848
28     87678
29     90774
30     94083
31     97069
32    101129
33    104987
34    106899
35    111676
36    114681
37    116053
38    120231
39    124903
40    127030
41    131392
42    135347
43    139828
44    142978
45    144746
46    145695
47    149396
48    153393
49    154842
50    159740
51    164226
52    165571
53    170310
54    174066
55    175403
56    179645
57    182927
58    185624
59    188514
Name: Valore, dtype: int64

In [29]:
#Come sopra, ma raggruppato per ogni anno usando prima un .groupby()

guadagni.groupby('Anno')['Valore'].cumsum()

0      3505
1      8017
2     10733
3     15228
4     17313
5     19996
6     24138
7     27522
8     28465
9     31203
10    33174
11    36828
12     1110
13     3376
14     5212
15     7564
16    10260
17    14002
18    15872
19    17839
20    21932
21    26483
22    30147
23    33292
24     4823
25     7898
26    10952
27    15728
28    17558
29    20654
30    23963
31    26949
32    31009
33    34867
34    36779
35    41556
36     3005
37     4377
38     8555
39    13227
40    15354
41    19716
42    23671
43    28152
44    31302
45    33070
46    34019
47    37720
48     3997
49     5446
50    10344
51    14830
52    16175
53    20914
54    24670
55    26007
56    30249
57    33531
58    36228
59    39118
Name: Valore, dtype: int64

In [31]:
#Esercizio 3

query = "SELECT * FROM dimcustomer"
df = pd.read_sql(query, db_engine)
df.shape

(18484, 29)

In [32]:
df.columns

Index(['CustomerKey', 'GeographyKey', 'CustomerAlternateKey', 'Title',
       'FirstName', 'MiddleName', 'LastName', 'NameStyle', 'BirthDate',
       'MaritalStatus', 'Suffix', 'Gender', 'EmailAddress', 'YearlyIncome',
       'TotalChildren', 'NumberChildrenAtHome', 'EnglishEducation',
       'SpanishEducation', 'FrenchEducation', 'EnglishOccupation',
       'SpanishOccupation', 'FrenchOccupation', 'HouseOwnerFlag',
       'NumberCarsOwned', 'AddressLine1', 'AddressLine2', 'Phone',
       'DateFirstPurchase', 'CommuteDistance'],
      dtype='object')

In [36]:
#Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole

df['FirstName'].str.lower()

0              jon
1           eugene
2            ruben
3          christy
4        elizabeth
           ...
18479        tommy
18480         nina
18481         ivan
18482      clayton
18483        jésus
Name: FirstName, Length: 18484, dtype: object

In [42]:
df['LastName'].str.upper()

0           YANG
1          HUANG
2         TORRES
3            ZHU
4        JOHNSON
          ...
18479       TANG
18480       RAJI
18481       SURI
18482      ZHANG
18483    NAVARRO
Name: LastName, Length: 18484, dtype: object

In [44]:
#Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio

df['EmailAddress'].str.split('@')

0             [jon24, adventure-works.com]
1          [eugene10, adventure-works.com]
2           [ruben35, adventure-works.com]
3         [christy12, adventure-works.com]
4        [elizabeth5, adventure-works.com]
                       ...
18479        [tommy2, adventure-works.com]
18480        [nina21, adventure-works.com]
18481         [ivan0, adventure-works.com]
18482      [clayton0, adventure-works.com]
18483        [jésus9, adventure-works.com]
Name: EmailAddress, Length: 18484, dtype: object

In [45]:
#Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da '1 (11) 500 555-0162' a ['1', '(11)', '500', '555-0162'])

df['Phone'].str.split(" ")

0        [1, (11), 500, 555-0162]
1        [1, (11), 500, 555-0110]
2        [1, (11), 500, 555-0184]
3        [1, (11), 500, 555-0162]
4        [1, (11), 500, 555-0131]
                   ...
18479    [1, (11), 500, 555-0136]
18480    [1, (11), 500, 555-0146]
18481    [1, (11), 500, 555-0144]
18482    [1, (11), 500, 555-0137]
18483    [1, (11), 500, 555-0141]
Name: Phone, Length: 18484, dtype: object

In [50]:
#Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero '21'

filtro = df['EmailAddress'].str.contains('21')
maschera = df[filtro]
maschera

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
64,11064,315,AW00011064,None,Chase,None,Reed,0,1981-06-05,M,...,Skilled Manual,Obrero especializado,Technicien,1,2,2721 Alexander Pl.,None,892-555-0184,2013-01-25,5-10 Miles
118,11118,6,AW00011118,None,Alvin,M,Zeng,0,1962-12-31,S,...,Skilled Manual,Obrero especializado,Technicien,0,1,3853 Wildcat Circle,Unit 13c12,1 (11) 500 555-0174,2013-07-10,0-1 Miles
130,11130,543,AW00011130,None,Caroline,L,Russell,0,1985-07-05,M,...,Skilled Manual,Obrero especializado,Technicien,1,2,3884 Bates Court,None,424-555-0137,2013-12-09,5-10 Miles
163,11163,372,AW00011163,None,Gabriel,None,Wang,0,1980-06-18,M,...,Skilled Manual,Obrero especializado,Technicien,1,1,8002 Crane Court,None,617-555-0150,2013-05-01,5-10 Miles
203,11203,60,AW00011203,None,Luis,D,Diaz,0,1959-08-18,M,...,Professional,Profesional,Cadre,1,2,3682 Diablo View Road,None,171-555-0126,2013-02-20,10+ Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18337,29337,22,AW00029337,None,Hector,A,Gomez,0,1943-08-18,S,...,Clerical,Administrativo,Employé,1,2,3788 Linden Lane,None,1 (11) 500 555-0116,2013-05-15,5-10 Miles
18365,29365,175,AW00029365,None,Cheryl,M,Carlson,0,1971-07-07,S,...,Manual,Obrero,Ouvrier,1,1,Helsenbergbogen 6,None,1 (11) 500 555-0161,2013-11-01,2-5 Miles
18435,29435,178,AW00029435,None,Stanley,None,Rodriguez,0,1968-05-10,M,...,Manual,Obrero,Ouvrier,1,0,Zeiter Weg 2264,None,1 (11) 500 555-0166,2013-04-22,0-1 Miles
18440,29440,159,AW00029440,None,Rafael,A,Cai,0,1967-04-09,S,...,Clerical,Administrativo,Employé,1,0,Hellweg 4754,None,1 (11) 500 555-0129,2013-12-03,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles

In [53]:
#Estraiamo tutti gli indirizzi e-mail che contengono il numero '20' OPPURE il numero '10'

filtro = df['EmailAddress'].str.contains('20')
filtro_2 = df['EmailAddress'].str.contains('10')
indirizzi_filtrati = filtro | filtro_2

df[indirizzi_filtrati]

Empty DataFrame
Columns: [CustomerKey, GeographyKey, CustomerAlternateKey, Title, FirstName, MiddleName, LastName, NameStyle, BirthDate, MaritalStatus, Suffix, Gender, EmailAddress, YearlyIncome, TotalChildren, NumberChildrenAtHome, EnglishEducation, SpanishEducation, FrenchEducation, EnglishOccupation, SpanishOccupation, FrenchOccupation, HouseOwnerFlag, NumberCarsOwned, AddressLine1, AddressLine2, Phone, DateFirstPurchase, CommuteDistance]
Index: []

[0 rows x 29 columns]

In [62]:
#Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i cinque più lunghi e i cinque più corti

lunghezza = df['EmailAddress'].str.len()
lunghezza.sort_values().tail(5)

2698     31
13361    31
15464    32
7681     32
7755     33
Name: EmailAddress, dtype: int64

In [63]:
lunghezza.sort_values().head(5)

10996    25
6044     25
15920    25
16952    25
4280     25
Name: EmailAddress, dtype: int64

In [73]:
#Modificare il dominio degli indirizzi e-mail da 'adventure-works.com' a 'aw-db.com' mediante il metodo .str.replace()

filtro = df['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com')
filtro

64          chase21@aw-db.com
118         alvin21@aw-db.com
130      caroline21@aw-db.com
163       gabriel21@aw-db.com
203          luis21@aw-db.com
                 ...
18337      hector21@aw-db.com
18365      cheryl21@aw-db.com
18435     stanley21@aw-db.com
18440      rafael21@aw-db.com
18480        nina21@aw-db.com
Name: EmailAddress, Length: 431, dtype: object

In [74]:
#Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa 'Street'

filtro = df['AddressLine1'].str.contains('Street')
filtro = df[filtro]
filtro

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
604,11604,275,AW00011604,None,Edgar,None,Sanchez,0,1982-12-01,S,...,Clerical,Administrativo,Employé,1,1,6543 Jacobsen Street,None,1 (11) 500 555-0117,2012-01-03,2-5 Miles
1796,12796,611,AW00012796,None,Jason,L,Zhang,0,1964-09-04,M,...,Skilled Manual,Obrero especializado,Technicien,0,0,6598 Oak Street,None,901-555-0172,2013-04-04,0-1 Miles
2293,13293,307,AW00013293,None,Barbara,None,Lu,0,1968-01-10,M,...,Management,Gestión,Direction,1,2,9450 Almond Street,None,173-555-0168,2013-07-20,5-10 Miles
5082,16082,609,AW00016082,None,Autumn,None,Zeng,0,1979-05-19,S,...,Skilled Manual,Obrero especializado,Technicien,0,1,3884 Beauty Street,None,716-555-0157,2013-06-27,0-1 Miles
5644,16644,301,AW00016644,None,Leonard,C,Goel,0,1947-06-22,M,...,Management,Gestión,Direction,1,2,3361 Crow Street,None,122-555-0168,2013-07-27,0-1 Miles
5832,16832,635,AW00016832,None,Isaiah,J,Parker,0,1937-12-10,S,...,Management,Gestión,Direction,1,2,2668 E. 79th Street,None,156-555-0115,2013-10-22,5-10 Miles
5843,16843,311,AW00016843,None,Jimmy,None,Ramos,0,1969-08-15,S,...,Management,Gestión,Direction,0,2,9817 Cook Street,None,256-555-0148,2013-10-27,0-1 Miles
5996,16996,62,AW00016996,None,Destiny,M,Walker,0,1970-01-11,S,...,Skilled Manual,Obrero especializado,Technicien,1,3,5878 East L Street,None,923-555-0167,2013-06-15,2-5 Miles
6044,17044,635,AW00017044,None,Ana,None,Hayes,0,1964-05-25,M,...,Management,Gestión,Direction,1,0,7893 Carson Street,None,620-555-0195,2013-09-14,0-1 Miles
6285,17285,10,AW00017285,None,Clayton,G,Deng,0,1974-01-30,M,...,Professional,Profesional,Cadre,1,1,4292 Oak Street,None,1 (11) 500 555-0119,2011-03-16,2-5 Miles
7336,18336,7,AW00018336,None,Carla,J,Gonzalez,0,1947-07-09,M,...,Management,Gestión,Direction,1,2,8901 Fourth Street,None,1 (11) 500 555-0161,2011-06-15,5-10 Miles
9337,20337,331,AW00020337,None,Xavier,None,Hall,0,1979-04-02,M,...,Professional,Profesional,Cadre,1,4,1293 F Street,None,780-555-0196,2013-03-04,5-10 Miles
10381,21381,15,AW00021381,None,Francis,D,Ruiz,0,1955-07-02,M,...,Clerical,Administrativo,Employé,0,2,2262 Main Street,None,1 (11) 500 555-0190,2013-11-13,5-10 Miles
13428,24428,312,AW00024428,None,Hailey,None,Price,0,1966-01-19,M,...,Professional,Profesional,Cadre,1,4,9058 East 23rd Street,None,128-555-0112,2013-11-19,2-5 Miles
13721,24721,253,AW00024721,None,Mandy,None,Zheng,0,1977-05-05,M,...,Clerical,Administrativo,Employé,1,2,1510 Bidwell Street,None,1 (11) 500 555-0184,2013-09-19,1-2 Miles
15920,26920,35,AW00026920,None,Jon,None,Chen,0,1984-09-19,M,...,Clerical,Administrativo,Employé,0,0,7855 Dumbarton Street,None,1 (11) 500 555-0147,2012-10-22,0-1 Miles
15968,26968,16,AW00026968,None,Henry,None,Sanchez,0,1974-02-12,M,...,Professional,Profesional,Cadre,1,4,4334 Fremont Street,None,1 (11) 500 555-0147,2013-09-16,0-1 Miles
16996,27996,339,AW00027996,None,Angela,None,Alexander,0,1942-11-18,M,...,Management,Gestión,Direction,1,2,1300 Zebra Street,None,768-555-0181,2013-02-09,5-10 Miles

In [5]:
import pandas as pd

df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/facebook.csv')
print(df.shape)

(7050, 12)

In [6]:
df.columns

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys'],
      dtype='object')

In [7]:
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0

In [12]:
df['status_published'].info

<bound method Series.info of 0        4/22/2018 6:00
1       4/21/2018 22:45
2        4/21/2018 6:17
3        4/21/2018 2:29
4        4/18/2018 3:22
             ...
7045     9/24/2016 2:58
7046    9/23/2016 11:19
7047    9/21/2016 23:03
7048     9/20/2016 0:43
7049    9/10/2016 10:30
Name: status_published, Length: 7050, dtype: object>

In [39]:
#Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp

df['status_published'] = pd.to_datetime(df['status_published'])
df['status_published'].info

<bound method Series.info of 0      2018-04-22 06:00:00
1      2018-04-21 22:45:00
2      2018-04-21 06:17:00
3      2018-04-21 02:29:00
4      2018-04-18 03:22:00
               ...
7045   2016-09-24 02:58:00
7046   2016-09-23 11:19:00
7047   2016-09-21 23:03:00
7048   2016-09-20 00:43:00
7049   2016-09-10 10:30:00
Name: status_published, Length: 7050, dtype: datetime64[ns]>

In [40]:
#Utilizzando gli attributi .dt.year, .dt.month, .dt.day, .dt.dayofweek, .dt.dayofyear, ottieniamo informazioni specifiche sulle date

df['anno'] = df['status_published'].dt.year
df['anno']

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
7045    2016
7046    2016
7047    2016
7048    2016
7049    2016
Name: anno, Length: 7050, dtype: int32

In [41]:
df['mese'] = df['status_published'].dt.month
df['mese']

0       4
1       4
2       4
3       4
4       4
       ..
7045    9
7046    9
7047    9
7048    9
7049    9
Name: mese, Length: 7050, dtype: int32

In [42]:
df['giorno'] = df['status_published'].dt.day
df['giorno']

0       22
1       21
2       21
3       21
4       18
        ..
7045    24
7046    23
7047    21
7048    20
7049    10
Name: giorno, Length: 7050, dtype: int32

In [43]:
df['giornoanno'] = df['status_published'].dt.dayofyear
df['giornoanno']

0       112
1       111
2       111
3       111
4       108
       ...
7045    268
7046    267
7047    265
7048    264
7049    254
Name: giornoanno, Length: 7050, dtype: int32

In [44]:
df['giornosettimana'] = df['status_published'].dt.dayofweek
df['giornosettimana']

0       6
1       5
2       5
3       5
4       2
       ..
7045    5
7046    4
7047    2
7048    1
7049    5
Name: giornosettimana, Length: 7050, dtype: int32

In [23]:
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,anno,mese,giorno,giornosettimana,giornoanno
0,246675545449582_1649696485147474,video,2018-04-22 06:00:00,529,512,262,432,92,3,1,1,0,2018,4,22,6,112
1,246675545449582_1649426988507757,photo,2018-04-21 22:45:00,150,0,0,150,0,0,0,0,0,2018,4,21,5,111
2,246675545449582_1648730588577397,video,2018-04-21 06:17:00,227,236,57,204,21,1,1,0,0,2018,4,21,5,111
3,246675545449582_1648576705259452,photo,2018-04-21 02:29:00,111,0,0,111,0,0,0,0,0,2018,4,21,5,111
4,246675545449582_1645700502213739,photo,2018-04-18 03:22:00,213,0,0,204,9,0,0,0,0,2018,4,18,2,108

In [26]:
#Estraiamo solo i post relativi al 2012

filtro = df['anno'] == 2012

maschera = df[filtro]
maschera.shape

(589, 17)

In [35]:
df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/facebook.csv')
print(df.shape)

(7050, 12)

In [46]:
#Estraiamo solo i post relativi a maggio 2018

filtro_anno = df['anno'] == 2018
filtro_mese = df['mese'] == 5

filtro_tot = filtro_anno & filtro_mese
maschera = df[filtro_tot]

maschera.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,anno,mese,giorno,giornoanno,giornosettimana
2690,134115277150304_264554297439734,photo,2018-05-31 12:17:00,11,0,0,10,0,1,0,0,0,2018,5,31,151,3
2691,134115277150304_264493694112461,photo,2018-05-31 08:37:00,56,4,2,55,1,0,0,0,0,2018,5,31,151,3
2692,134115277150304_264416247453539,photo,2018-05-31 03:12:00,72,13,1,69,3,0,0,0,0,2018,5,31,151,3
2693,134115277150304_264168277478336,photo,2018-05-30 08:46:00,10,0,0,10,0,0,0,0,0,2018,5,30,150,2
2694,134115277150304_264160757479088,photo,2018-05-30 08:24:00,56,3,12,54,2,0,0,0,0,2018,5,30,150,2

In [50]:
#Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana

filtro_weekend = df['giornosettimana'].isin([5, 6])
filtro_sett = df['giornosettimana'].isin([0,1,2,3,4])

filtro_1 = df[filtro_weekend]
filtro_2 = df[filtro_sett]

print(filtro_1.shape)
print(filtro_2.shape)

(2041, 17)
(5009, 17)

In [55]:
#Troviamo il primo e ultimo post pubblicati in ogni anno

df.groupby('anno')['status_published'].agg(['min', 'max'])

                     min                 max
anno
2012 2012-07-15 02:51:00 2012-12-23 03:11:00
2013 2013-01-02 02:23:00 2013-12-31 23:38:00
2014 2014-01-05 09:23:00 2014-12-10 07:42:00
2015 2015-01-02 03:41:00 2015-12-31 08:20:00
2016 2016-01-03 04:23:00 2016-12-31 05:13:00
2017 2017-01-02 08:25:00 2017-12-31 22:15:00
2018 2018-01-01 01:39:00 2018-06-13 01:12:00

In [62]:
#Quanti tipi di post ci sono? E quanti per ogni tipo?"

print(df['status_type'].nunique())

print(df['status_type'].value_counts())

4
status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

In [63]:
#Esercizio 5

df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/pokemon.csv')

df.shape

(800, 13)

In [65]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [67]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [68]:
#Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli ci sono in ogni colonna

df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [69]:
df.isnull().sum().sum()

np.int64(386)

In [72]:
df['Type 2'].fillna('No Second Type')

0              Poison
1              Poison
2              Poison
3              Poison
4      No Second Type
            ...
795             Fairy
796             Fairy
797             Ghost
798              Dark
799             Water
Name: Type 2, Length: 800, dtype: object

In [74]:
filtro = df.dropna()
print(filtro.shape)

(414, 13)

In [75]:
#Esercizio 5
df = pd.read_csv('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets/automobile.csv')
df.shape

(202, 26)

In [76]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [81]:
#Ci sono valori nulli? Dove? Quanti

df.isnull().sum()

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [82]:
df.isnull().sum().sum()

np.int64(39)

In [83]:
#Quali righe hanno un valore nullo nella colonna num-of-doors?

filtro = df['num-of-doors'].isnull()
maschera = df[filtro]
maschera

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
26,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
60,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795

In [85]:
#Esaminando i dati nel dataset, cerchiamo una logica per sostituire i valori nulli nella colonna num-of-doors

df[(df['make'] == 'mazda') & (df['body-style'] == 'sedan')]['num-of-doors'].value_counts()

num-of-doors
four    6
Name: count, dtype: int64

In [92]:
df['num-of-doors'].fillna('four', inplace=True)
df['num-of-doors'].isnull().sum()

np.int64(0)

In [93]:
#Esercizio 6

import numpy as np
import pandas as pd

temp = pd.DataFrame({
    "Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]
})

print(temp)

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3          NaN
4        4         21.0
5        5         20.0
6        6         20.0
7        7          NaN
8        8         21.0
9        9         23.0
10      10          NaN
11      11         23.0
12      12         24.0

In [95]:
#Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli?

temp['Temperature'].interpolate()

0     18.0
1     19.0
2     18.0
3     19.5
4     21.0
5     20.0
6     20.0
7     20.5
8     21.0
9     23.0
10    23.0
11    23.0
12    24.0
Name: Temperature, dtype: float64

In [97]:
import os

path = '/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets'
files = os.listdir(path)

print(files[:10])

['glass.csv', 'nba.csv', 'income.csv', 'bank.csv', 'gold.csv', 'hepatitis.csv', 'juice.csv', 'asia_gdp.csv', 'migration.csv', 'facebook.csv']

In [98]:
for file in files:
    if file.endswith('.csv'):
        print(file)

glass.csv
nba.csv
income.csv
bank.csv
gold.csv
hepatitis.csv
juice.csv
asia_gdp.csv
migration.csv
facebook.csv
amazon.csv
seeds.csv
heart_disease.csv
employee.csv
germany.csv
cancer.csv
heart.csv
boston.csv
credit.csv
france.csv
diamond.csv
insurance.csv
traffic.csv
parkinsons.csv
population.csv
wholesale.csv
automobile.csv
electrical_grid.csv
concrete.csv
forest.csv
bike.csv
pokemon.csv
anomaly.csv
iris.csv
energy.csv
wikipedia.csv
wine.csv
spx.csv
blood.csv
jewellery.csv
house.csv
mice.csv
questions.csv
satellite.csv
diabetes.csv
kiva.csv
ipl.csv
public_health.csv
poker.csv
elections.csv
tweets.csv

In [102]:
files_con_null = []
for file in files:
    if file.endswith('.csv'):
        file_path = os.path.join('/Volumes/SSD/EPICODE/PYTHON/ESERCITAZIONI/Dataset_Extra/beginner_datasets', file)
        df = pd.read_csv(file_path)
        total_nulls = df.isnull().sum().sum()
        if total_nulls > 0:
            files_con_null.append(file)
print(files_con_null)

['nba.csv', 'income.csv', 'hepatitis.csv', 'seeds.csv', 'france.csv', 'traffic.csv', 'population.csv', 'automobile.csv', 'pokemon.csv', 'wikipedia.csv', 'house.csv', 'mice.csv', 'elections.csv']